::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0c0331; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #110b1f; 
}


.site-info{
  display: flex;
}
.users{
  height: 98vh;
  width: 34%;
  background-color: #110b1f;
  overflow: auto;
}
.posts{
  height: 98vh;
  width: 33%;
  background-color: #272234;
  overflow: auto;
}
.comments{
  height: 98vh;
  width: 33%;
  background-color: #1c162c;
  overflow: auto;
}
.users__list{
  list-style: none;
  margin: 0;
  padding: 10px;
}
.users__name{
  color: #fff;
  background-color: #050c5b;
  font-weight: 700;
  padding: 3px 20px;
}
.users__item{
  border-left: 2px solid gray;
  margin: 14px;
  padding: 15px;
  & div{
    margin-bottom: 10px;
  }

}
.users__info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.users__title{
  color: gray;
  margin: 0;
}
.users__id{
  text-align: center;
  vertical-align: middle;
  font-size: x-large;
  font-weight: 700;
  width: 50px;
  height: 50px;
  padding: 10px 10px;
  color: #0c0331;
  background-color: gray;
  border: 2px solid darkblue;
  border-radius: 50%;
}
.users__address{
  font-size: small;
  font-weight: 700;
  margin-bottom: 10px;
  color: rgb(254, 223, 183);
}
.company__name , .company__catchPhrase , .company__bs{
  margin: 0;  
  color: rgb(30, 114, 114);
}



.posts__list{
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 10px;
}
.posts__item{
  position: relative;
  font-family: "Rubik" , sans-serif;
  color: gray;
  background-color: #0c0331;
  padding: 15px;
  margin-bottom: 10px;
}
.posts__title{
  margin-top: 0;
}

.comments__list{
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 10px;
}
.comments__item{
  position: relative;
  font-family: "Rubik" , sans-serif;
  color: gray;
  background-color: #08031e;
  padding: 15px;
  margin-bottom: 10px;
}
.comments__title{
  margin-top: 0;
}

  .uchburchak{
    position: absolute;
    bottom: 0px;
    left: -7px;
    display: block;
    width: 30px;
    height: 30px;
    border: 15px solid #0c0331;
    border-top: none;
    border-right-color: transparent;
    border-left-color: transparent;
  }
  .comments__item .uchburchak{
    position: absolute;
    bottom: 0px;
    left: -7px;
    display: block;
    width: 30px;
    height: 30px;
    border: 15px solid #08031e;
    border-top: none;
    border-right-color: transparent;
    border-left-color: transparent;
  }

  .lds-spinner {
    color: aqua;
    margin: 0 auto;
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 155px;
    margin-top: 300px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  

  .lds-spinnerr {
    color: aqua;
    margin: 0 auto;
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 155px;
    margin-top: 300px;
  }
  .lds-spinnerr div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinnerr div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinnerr div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinnerr div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinnerr div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinnerr div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinnerr div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinnerr div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinnerr div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinnerr div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinnerr div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinnerr div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinnerr div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinnerr div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinnerr {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  svg{
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }
  .site-footer__icon{
    text-decoration: none;
    color: rgb(22, 35, 98);
    width: 24px;
    height: 24px;
    &:hover{
      color: #30C88F;
    }
  }